:root {
  --main-color-white: #ffffff;
  --secondary-color-grey: #d9dbe1;
  --article-color-pink: #ff56f6;
  --social-color-light_pink: #ffb1ee;
}

body {
  font-family: "Aldrich", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "League Spartan", sans-serif;
  font-family: "MuseoModerno", cursive;
  font-family: "Orbitron", sans-serif;
  font-family: "Rajdhani", sans-serif;
  font-family: "Roboto", sans-serif;

  color: var(--main-color-white);
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Alethia Next";
  src: url("../fonts/alethianext-light.eot");
  src: local("☺"), url("../fonts/alethianext-light.woff") format("woff"),
    url("../fonts/alethianext-light.ttf") format("truetype"),
    url("../fonts/alethianext-light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alethia Next";
  src: url("../fonts/alethianext-lightitalic.eot");
  src: local("☺"), url("../fonts/alethianext-lightitalic.woff") format("woff"),
    url("../fonts/alethianext-lightitalic.ttf") format("truetype"),
    url("../fonts/alethianext-lightitalic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Spartan";
  src: url("../fonts/Spartan-SemiBold.eot");
  src: local("☺"), url("../fonts/Spartan-SemiBold.woff") format("woff"),
    url("../fonts/Spartan-SemiBold.ttf") format("truetype"),
    url("../fonts/Spartan-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Фон */
.background {
  background-image: url(../img/Rectangle743.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  /* position: relative; */
}
/*  */

*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1395px;
  margin: 0 auto;
}

/* Хэдер */
.header {
  padding-top: 42px;
}

.header__burger {
  display: none;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 808px;
}

.header__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
  position: relative;
  /* height: 80px; */
}

.header__menu {
  padding: 11px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 66px;
}

.list__item {
  list-style: none;
}

.list__item a:hover {
  color: #ffffff;
  transition: 0.5s;
}

.sighn__up {
  display: flex;
  align-items: center;
  gap: 41px;
  margin-top: 3px;
}

.logo {
  display: flex;
  align-items: center;
  height: 48px;
}

.logo span {
  color: #ffffff;
}

.header a {
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}
/* Header END */

/* Hero */
/* Hero content */
.hero {
  display: flex;
  margin-top: 105px;
  position: relative;
}

h1 {
  font-family: "Spartan";
  font-weight: 600;
  font-size: 66.3276px;
  line-height: 1.37;
  color: var(--main-color-white);
  width: 848px;
  margin-bottom: 21px;
  margin-left: 3px;
}

h1 span {
  background: linear-gradient(272.38deg, #43a5e3 46.06%, #ff56f6 81.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero__content__text {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 26.531px;
  line-height: 1.67;
  color: var(--main-color-white);

  margin-bottom: 40px;
  max-width: 658px;
}

.hero__link__main {
  display: flex;
  flex-wrap: wrap;
}

.hero__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(../img/Explore_desctop.png) no-repeat;
  width: 254px;
  height: 69px;
}

.hero__link a {
  text-decoration: none;
  font-family: "Orbitron";
  font-weight: 700;
  font-size: 19.8983px;
  color: var(--main-color-white);
  display: flex;
  margin-left: 68px;
}

.hero__link a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.hero__link_p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;

  background: linear-gradient(89.89deg, #42a6e3 2.33%, #ff56f6 101.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  margin-left: 34px;
  display: flex;
  height: 69px;
  align-items: center;
}

.hero__link img {
  margin-left: 13px;
}

.hero__counter {
  margin-top: 64px;
  width: 480px;
}

.hero__list {
  display: flex;
}

.hero__item:first-child {
  padding-right: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.26);
  margin-right: 40px;
}

.hero__item:nth-child(2) {
  padding-right: 23px;
  border-right: 1px solid rgba(255, 255, 255, 0.26);
  margin-right: 45px;
}

.hero__item {
  font-family: "Aldrich";
  font-weight: 400;
  font-size: 39.8px;
  line-height: 1.3;
  letter-spacing: 0.221092px;

  color: var(--main-color-white);
}

.hero__item p {
  font-family: "Alethia Next";
  src: url(../Fonts/alethianext-light.otf);
  src: url(../Fonts/alethianext-lightitalic.otf);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0;

  color: var(--main-color-white);
}

.wave {
  position: absolute;
  top: 320px;
  left: 730px;
}
/* Hero content END */

/* Hero IMG */
.hero__img__main {
  position: relative;
}

.hero_img_1 {
  margin-top: 16px;
  margin-left: 48px;
}

.hero__img__content {
  width: 336px;
  height: 181px;
  background: url(../img/Hero_img_2.png);
  border-radius: 8.84367px;
  display: flex;
  position: absolute;
  top: 375px;
  left: 208px;
}

.hero__content_left {
  margin-left: 23px;
}

.hero__content_left p:first-child {
  margin-top: 34px;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 17.6873px;
  color: var(--main-color-white);
}

.nickname {
  display: flex;
  align-items: center;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 15.4764px;
  line-height: 35px;
  width: 122px;

  color: var(--main-color-white);
  margin-bottom: 17px;
  margin-top: 5px;
}

.nickname span {
  margin: 0 4px;
}

.hero__price__header {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0546px;
  opacity: 0.7;
}

.hero__price {
  display: flex;
  align-items: center;
  gap: 5.5px;
}

.hero__price p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 9.71776px;
  line-height: 12px;
  color: var(--main-color-white);
}

.hero__price span {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 11.0546px;
  line-height: 35px;
  color: var(--main-color-white);
  opacity: 0.7;
}

.hero__list__title {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 11.0546px;
  color: var(--main-color-white);

  opacity: 0.7;
  margin-top: 37px;
  margin-bottom: 6px;
  margin-left: 54px;
}

.hero__small__list {
  display: flex;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 17.6873px;
  color: var(--main-color-white);
  width: 108px;
  justify-content: space-between;
  margin-left: 53px;
}

.hero__small__list p {
  font-weight: 500;
  font-size: 11.0546px;
  opacity: 0.7;
}

.hero__link__placebid {
  background: url(../img/hero_link_place_bid.svg) no-repeat;
  background-size: cover;
  width: 125px;
  height: 42px;
  margin-top: 27px;
  margin-left: 43px;
  cursor: pointer;
}

.hero__small__link {
  text-decoration: none;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 17.6873px;
  line-height: 23px;
  color: var(--main-color-white);
  padding-left: 13px;
  padding-top: 11px;
  display: flex;
}

.hero__small__link img {
  margin-left: 11px;
  margin-top: -3px;
}

.hero__small__link:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.logo__container {
  margin-top: 130px;
  height: 53px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 212px;
  margin-left: 5px;
  width: 1384px;
}
/* hero__img END */
/* Hero END */

/* Top */
.top {
  margin-bottom: 162px;
}

.top__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;

  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;

  color: var(--main-color-white);
  width: 1390px;
}

.top__header h2 {
  margin-left: 5px;
}

.viewall {
  font-size: 26.531px;
}

.viewall a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--main-color-white);
}

.viewall a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.viewall img {
  margin-left: 16.6px;
  margin-right: 9px;
}

.top__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 7px;
  width: 1384px;
}

.top__item__img1 {
  background: url(../img/Apollo.png);
  width: 437.76px;
  height: 384.7px;
}

.top__item__img2 {
  background: url(../img/Sassy.png);
  width: 437.76px;
  height: 384.7px;
}

.top__item__img3 {
  background: url(../img/Satisfying.png);
  width: 437.76px;
  height: 384.7px;
}

.top__content {
  background: url(../img/top_secondary_1.svg);
  width: 437.76px;
  height: 236.16px;
  display: flex;
}

/* top__list */
/* Top content left */
.top__content__left__1 {
  margin-right: 22px;
}

.top__content__left__2 {
  margin-right: 31px;
}

.top__content__left__3 {
  margin-right: 61px;
}

.top__content__left p:first-child {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 45px;
  color: var(--main-color-white);

  margin-left: 31px;
  margin-top: 37px;
  margin-bottom: 2px;
}

.top__nickname {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 27px;

  font-size: 20.1601px;
  margin-left: 2px;
}

.top__nickname span {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 20.1601px;
  color: var(--main-color-white);
}

.top__nickname img:first-child {
  margin-left: 29px;
}

.reserve_price {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 14.4001px;

  color: var(--main-color-white);
  opacity: 0.7;

  margin-left: 30px;
}

.top__price {
  display: flex;
  margin-left: 30px;
  align-items: center;
  gap: 7.5px;
}

.top__price span {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4001px;
  line-height: 46px;
  color: #ffffff;

  opacity: 0.7;
  margin-left: 7.2px;
}

.top__price p {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 12.6587px;
  line-height: 16px;

  color: var(--main-color-white);
}
/* Top content left END */

/* Top content right */
.top__right__header {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 14.4001px;
  color: var(--main-color-white);

  opacity: 0.7;

  margin-top: 49px;
  margin-left: 13px;
  margin-bottom: 7px;
}

.top__content__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
  margin-left: 12px;
  width: 140px;
}

.top__content__list li {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 23.0401px;
  color: var(--main-color-white);
  /* margin-left: 9px; */
}

.top__content__list p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 14.4001px;
  color: var(--main-color-white);

  opacity: 0.7;
}

.top__link {
  background: url(../img/top_place_bid.svg);
  background-size: cover;
  width: 162px;
  height: 54px;
}

.top__link a {
  text-decoration: none;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 23.0401px;
  line-height: 29px;
  display: flex;

  color: var(--main-color-white);
  padding-left: 16px;
  padding-top: 13px;
}

.top__link a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.top__link img {
  margin-left: 13px;
  margin-top: 6px;
}
/* Top content right END */
/* TOP END */

/* Explore Collections */
/* 1-st Part */
.explore__collections {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 160px;
}

.explore__collections h2 {
  margin-left: 7px;
  margin-top: 48px;
  margin-bottom: 44px;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  color: var(--main-color-white);
}

.explore__list {
  width: 913px;
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  margin-left: 5px;
}

.explore__list li {
  width: 368px;
  height: 98px;
  border: 3px solid;
  -moz-border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  -webkit-border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  -o-border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}

.explore__left .explore__margin,
.explore__right .explore__margin {
  margin-bottom: 42px;
}

.explore__view__link {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;

  color: var(--main-color-white);
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 15px;
  margin-left: 628px;
  margin-top: 4px;
}

.explore__view__link:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.explore__list a {
  margin: 0 auto;
  text-decoration: none;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;

  color: rgba(255, 255, 255, 0.5);
  display: flex;
}

.explore__list a:hover {
  color: var(--main-color-white);
  transition: 0.5s;
}

.explore__list li:hover {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(106.124px);
  border-radius: 2px;
}

.explore__collections img {
  margin-top: -1px;
}
/* 1-st part END */

/* 2-nd part */
.explore__second__part {
  padding-left: 6px;
  margin-bottom: 161px;
  width: 100%;
  max-width: 1384px;
}

.explore__second__part__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
  width: 1376px;
}

.second__title {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  color: var(--main-color-white);
  margin-left: 1px;
}

.explore__second__part__header a {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  color: var(--main-color-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 18px;
}

.explore__second__part__header a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.explore__second__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1386px;
}

.explore__second__item {
  width: 436px;
  height: 562px;
  padding-top: 4px;
  padding-left: 3px;
}

.explore__second__item__1 {
  background: url(../img/explore_second_part_list_background_1.png);
}

.explore__second__item__2 {
  background: url(../img/explore_second_part_list_background_2.png);
}

.explore__second__item__3 {
  background: url(../img/explore_second_part_list_background_3.png);
}

.expl_sec_list_top {
  background: url(../img/Explore_Collection_1_3.png);
  width: 432px;
  height: 206px;
}

.explore__avatar {
  width: 165px;
  height: 165px;
  margin: 0 auto;
  padding-top: 102px;
  padding-left: 4px;
}

.explore__name {
  margin-top: 69px;
}

.explore__name p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 24.3201px;
  color: var(--main-color-white);
  display: flex;
  justify-content: center;
}

.explore__hashteg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  position: relative;
}

.explore__hashteg p {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  font-size: 20.1601px;

  color: var(--social-color-light_pink);
}

.explore__hashteg img {
  width: 15.84px;
  height: 17.28px;
  position: absolute;
  margin-left: 116px;
}

.explore_second__counter {
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
  margin-left: 11px;
  margin-bottom: 38px;
  width: 412px;
}

.explore_second__counter li {
  text-align: center;
}

.count {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 31.6897px;

  color: var(--main-color-white);
}

.count__description {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8061px;

  color: var(--main-color-white);

  opacity: 0.7;
}

.explore__second__follow {
  /* margin: 0 auto; */
  margin-left: 102px;
  width: 233px;
  height: 49px;
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.81747px 116.824px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(115.619px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  -moz-border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  -webkit-border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  -o-border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
}

.explore__second__follow a {
  text-decoration: none;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 19.8983px;

  color: var(--main-color-white);
}

.explore__second__follow a:hover {
  opacity: 0.6;
  transition: 0.5s;
}
/* 2-nd part END */
/* Explore Collections END */

/* Top Sellers */
.top__sellers {
  width: 100%;
  max-width: 1390px;
  height: 100%;
  max-height: 880px;
  max-height: 880px;
  margin-bottom: 158px;
}

._top__sellers__header {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 26.531px;
  color: var(--main-color-white);
  margin-left: 535px;
  display: flex;
}

._top__sellers__header span {
  color: var(--article-color-pink);
}

._top__sellers__header img {
  margin-left: 5px;
  margin-top: 15px;
  cursor: pointer;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17.6873px;
  line-height: 25px;

  color: var(--main-color-white);
  margin-left: 452px;
  margin-top: 23px;
  margin-bottom: 57px;
  width: 506px;
  text-align: center;
}

.top__sellers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-left: 6px;
}

.top__sellers__item {
  width: 437px;
  height: 123px;
  background-image: url(../img/top_sellers_li_border.svg);
  display: flex;
}

.top__sellers__name {
  display: flex;
  align-items: center;
}

.number__of__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19.0479px;

  color: rgba(255, 255, 255, 0.8);

  width: 20px;
  text-align: right;
  margin-left: 22px;
  margin-top: 1px;
}

.top__sellers_avatar {
  /* margin: 0 13px; */
  margin-left: 15px;
  margin-top: 3px;
  margin-right: 13px;
}

.sellers__name__summary {
  width: 160px;
}

.sellers__name__summary p {
  margin-bottom: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19.0479px;

  color: var(--main-color-white);
}

.tft__summary {
  display: flex;
  align-items: center;
}

.top__sellers_logo {
  margin-right: 4px;
}

.tft__summary span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13.7568px;
  color: rgba(255, 255, 255, 0.8);
}

.top__sellers__percent {
  margin-top: 52px;
  margin-left: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14.7012px;
  display: flex;
  width: 100.6px;
  height: 35.37px;
  justify-content: center;
  align-items: center;
}

.top__sellers__green {
  color: #00ff66;
  background-image: url(../img/green__percent.svg);
}

.top__sellers__red {
  color: #ff0000;
  background-image: url(../img/red__percent.svg);
}

.top__sellers__link {
  margin: 0 auto;
  margin-top: 61px;
  width: 235px;
  height: 51px;

  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.81747px 116.824px rgb(255 86 246 / 51%);
  backdrop-filter: blur(115.619px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.41px solid;
  -moz-border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  -webkit-border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  -o-border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
  border-image: linear-gradient(to right, #3c79d4, #ffa6fa) 1;
}

.top__sellers__link a {
  text-decoration: none;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  font-size: 19.8983px;
  color: var(--main-color-white);
}

.top__sellers__link a:hover {
  opacity: 0.6;
  transition: 0.5s;
}
/* Top Sellers END */

/* What are NFT's */
.what__nft {
  margin-bottom: 161px;
}

.what__nft__bg {
  background: url(../img/what_are_NFT_main.png);
  width: 1600px;
  height: 556px;
}

.what__nft__content {
  height: 413px;
  margin-left: 884px;
  margin-top: -340px;
  background: url(../img/what_are_NFT_back.png) no-repeat;
  padding-top: 60px;
  padding-left: 73px;
}

.what__nft__content h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 44.5093px;

  font-feature-settings: "salt" on, "liga" off;

  color: var(--main-color-white);

  margin-bottom: 23px;
  margin-top: 2px;
}

.what__nft__content p {
  width: 458px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20.0292px;
  line-height: 35.6px;

  font-feature-settings: "salt" on, "liga" off;

  color: var(--main-color-white);
  margin-bottom: 47px;
}

.what__nft__link {
  display: flex;
  gap: 46.5px;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 17.8037px;
  font-feature-settings: "salt" on, "liga" off;
}

.what__nft__link a {
  text-decoration: none;
  color: var(--main-color-white);
}

.what__nft__link a:hover {
  color: var(--main-color-white);
  opacity: 0.6;
  transition: 0.5s;
}

.video img {
  margin-right: 9px;
}
/* What are NFT's END */

/* Subscribe */
.subscribe {
  display: flex;
  flex-wrap: wrap;
  margin-left: 110px;
  margin-bottom: 160px;
}

.subscribe__bg {
  background: url(../img/subscribe.png);
  width: 699px;
  height: 290px;
}

.subscribe__content {
  width: 491px;
  margin-left: 76px;
}

.subscribe__content h2 {
  font-family: "Orbitron", sans-serif;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 39.7965px;
  font-feature-settings: "salt" on, "liga" off;

  color: var(--main-color-white);
  margin-bottom: 28px;
  margin-top: 31px;
}

.subscribe__content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19.8983px;
  line-height: 35px;
  font-feature-settings: "salt" on, "liga" off;

  color: var(--main-color-white);
  margin-bottom: 49px;
}

.subscribe__input {
  /* width: 430px; */
  height: 54px;
  display: flex;
  align-items: center;
}

input {
  width: 253px;
  height: 49px;
  border-radius: 5.5273px 0px 0px 5.5273px;
  outline: none;
  padding-left: 18px;
  border: none;
  margin-right: 8px;
}

::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 27px;

  font-feature-settings: "salt" on, "liga" off;
  color: #474a57;
}

button {
  background: url(../img/button_subscribe.svg);
  width: 148px;
  height: 54px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15.4764px;
  font-feature-settings: "salt" on, "liga" off;
  color: var(--main-color-white);
  border: none;
  cursor: pointer;
}

button:hover {
  color: var(--main-color-white);
  opacity: 0.6;
  transition: 0.5s;
}
/* Subscribe END */

/* Footer */
.footer__container {
  width: 100%;
  max-width: 1391px;
  margin-left: 80px;
}

.footer__nav {
  padding-top: 97px;
  padding-bottom: 87px;
  position: relative;
  display: flex;
}

.footer__nav::before {
  content: "";
  width: 1339px;
  height: 1.11px;
  background: #fff;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 3px;
}

.footer__nav::after {
  content: "";
  width: 1339px;
  height: 1.11px;
  background: #fff;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: 3px;
}

.footer__intro {
  width: 281px;
  margin-right: 94px;
}

.footer__logo {
  margin-left: 3px;
  margin-top: 5px;
  margin-bottom: 32px;
}

.footer__logo a {
  text-decoration: none;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 19.8983px;
  line-height: 25px;

  color: var(--main-color-white);
  display: flex;
  align-items: center;
  width: 144px;
}

.footer__logo a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.footer__logo img {
  margin-right: 4px;
}

.footer__intro p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 26.5px;
  font-feature-settings: "salt" on, "liga" off;
  color: var(--secondary-color-grey);
  margin-left: 3px;
  margin-bottom: 25px;
}

.footer__social__link {
  margin-left: 2px;
  display: flex;
  gap: 17px;
}

.footer__list {
  width: 176px;
  height: 237px;
}

.footer__nav__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1016px;
  justify-content: space-between;
}

.footer__list > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19.8983px;
  line-height: 31px;
  font-feature-settings: "salt" on, "liga" off;
  color: var(--main-color-white);
  display: inline-block;
  margin-bottom: 18px;
}

.footer__item {
  margin-bottom: 13.2px;
}

.footer__item a {
  display: inline-block;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 27px;
  font-feature-settings: "salt" on, "liga" off;
  color: var(--secondary-color-grey);
}

.footer__item a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.footer__item span {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 400;
  font-size: 22.1092px;
  color: #2ec5ce;
  margin-left: 10px;
}

.footer__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1342px;
  height: 93px;
}

.rights__reserved span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  line-height: 27px;
  font-feature-settings: "salt" on, "liga" off;
  color: var(--secondary-color-grey);
  display: inline-block;
  margin-top: 27px;
  margin-left: 1px;
}

.system__links a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15.4764px;
  font-feature-settings: "salt" on, "liga" off;
  color: var(--secondary-color-grey);
  display: inline-block;
  margin-left: 8px;
  margin-top: 28px;
}

.system__links a:first-child {
  margin-right: -1px;
}

.system__links a:nth-child(2) {
  border-left: 2px solid var(--secondary-color-grey);
  border-right: 2px solid var(--secondary-color-grey);
  padding: 0 12px;
}

.system__links a:hover {
  color: var(--main-color-white);
  transition: 0.5s;
}
/* Footer END */

.niz {                      /*    delete after responsive      */
  margin-bottom: 1000px;
}

@media (max-width: 767px) {
  body {
    background: url(../img/Bg_responsible_under_main.png) no-repeat;
    background-size: cover;
  }

  /* HEADER */
  .header__body {
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-top: 1px;
  }

  .header {
    padding-top: 10px;
    margin-bottom: 44px;
  }

  .sighn__up {
    display: none;
  }

  .header a {
    font-size: 16.1279px;
    line-height: 20px;
  }

  .logo {
    z-index: 2;
    margin-left: 23px;
  }

  .logo img {
    width: 13.5px;
    height: 22.5px;
    margin-right: 4px;
  }

  .header__burger span {
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 14px;
    top: 9px;
    right: 28px;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::after,
  .header__burger::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 22px;
    height: 3px;
    right: 28px;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    top: 9px;
  }

  .header__burger.active::after {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    padding: 0;
    margin-top: 48px;
    overflow: auto; /* для скролла меню */
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 12px;
    background-color: rgb(64, 1, 119);
    z-index: 99;
  }

  .nav__list {
    display: block;
    width: 100%;
    height: 100%;
  }

  .list__item {
    padding: 25px;
    padding-left: 23px;
  }

  body.lock {
    overflow: hidden; /* убираем скролл под меню */
  }
  /* HEADER END */

  /* HERO */
  .hero {
    margin-top: 0;
    flex-wrap: wrap;
  }

  .h1 {
    margin: 0px 30px 29px 31px;
  }

  .hero h1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 137.4%;
    color: var(--main-color-white);
    margin-right: 25px;
    margin-bottom: 40px;
    display: inline;
  }

  .hero__content__text {
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: var(--main-color-white);
    margin: 0 31px;
    margin-bottom: 33px;
    /* text-align: center; */
  }

  .hero__link {
    margin: 0px 30px 40px 30px;
    background: url(../img/Explore_responsive.png) no-repeat;
    background-size: contain;
    width: 134px;
    height: 35px;
  }

  .hero__link a {
    /* margin: 0 auto; */
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    /* padding: 9px 0px 10px 29px; */
  }

  .hero__link img {
    width: 28px;
    height: 8.26px;
    margin-left: 8px;
  }

  .hero__link p {
    /* margin: 0 auto; */
    height: 34px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__counter {
    margin: 0px 30px 40px 30px;
    width: auto;
  }

  .hero__list {
    display: flex;
    justify-content: space-between;
  }

  .hero__item {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.117972px;
    border: none !important;
  }

  .hero__item:first-child {
    padding-right: 0;
    margin-right: 0;
  }

  .hero__item:nth-child(2) {
    padding-right: 0;
    margin-right: 0;
  }

  .wave {
    display: none;
  }

  .hero__img {
    display: flex;
    flex-wrap: wrap;
  }
}
